###############################
# Spring Boot / Maven
###############################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

###############################
# SQLite Database (IGNORE DB FILE)
###############################
src/main/resources/database/app.db

###############################
# Logs
###############################
*.log
logs/
*.out

###############################
# Spring Tool Suite
###############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###############################
# IntelliJ IDEA
###############################
.idea
*.iws
*.iml
*.ipr

###############################
# NetBeans
###############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

###############################
# Visual Studio Code
###############################
.vscode/

###############################
# OS Files
###############################
.DS_Store
Thumbs.db

###############################
# Java
###############################
*.class

###############################
# Backup Files
###############################
*.bak
*.tmp
